@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/breakpoints' as b;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/layout/layout' as l;
.footer {
  @include m.theme() {
    background-color: m.t(base);
    display: flex;
    width: 100vw;
  }
}

.footer__content {
  @include m.standard-width;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@mixin footer-section {
  display: flex;
  align-items: center;
}

.footer__top {
  @include footer-section;
  min-height: 150px;
  @include b.min-width('small') {
    min-height: 20vh;
  }
}

.footer__top-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  // gap: 40px;
}

.footer__logo {
  position: relative;
  width: max(80px, 20%);
  // background-color: red;
  aspect-ratio: 171/40;
  height: 100%;
  display: flex;
  align-items: end;
}

.footer__logo-svg {
  width: 80%;
  height: 80%;
  @include m.theme() {
    color: m.t(contrast);
  }
}

.footer__search-container {
  flex: 1;
  height: 100%;
}

.footer__middle {
  @include footer-section;
  min-height: 20vh;
  flex-direction: row;
  align-items: flex-start;
  // justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 10vw, 30px);
}

.footer__middle-info {
  display: flex;
  flex: 1;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  @include b.min-width('small') {
    flex-direction: row;
    padding-left: 20%;
    flex-wrap: wrap;
  }
}

.footer__middle-item {
  // width: clamp(140px, 16vw, 140px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: clamp(20px, 1.2vw, 30px);
}

.footer__middle-item-header {
  text-transform: uppercase;
  @include m.text-p3;
}

.footer__socials {
  display: none;
  @include b.min-width('medium') {
    flex: 0;
    display: flex;
  }
}

.footer__socials-mobile {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // align-items: center;
  // justify-content: center;
  // * {
  //   gap: 30px;
  // }
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  @include m.theme() {
    color: m.t(contrast);
  }
  @include b.min-width('medium') {
    display: none;
  }
}

.footer__motto {
  @include m.theme() {
    position: absolute;
    left: clamp(14px, 1.5vw, 56px);
    top: 10%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: m.t(contrast);
    width: 20px;
    height: clamp(120px, 10vw, 200px);
    left: -5vw;

    height: 25vw;
    @include b.min-width('medium') {
      height: 256px;
    }
  }
}

.footer__middle-item-content-link {
  @include m.interact {
    text-decoration: underline;
  }
  @include m.noselect;
  transition-duration: 200ms;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(10px, 0.8vw, 15px);
  line-height: 150%;
  // text-transform: capitalize;
}

.footer__follow {
  margin: auto;
  margin-top: initial;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
}

.footer__bottom {
  @include footer-section;
  height: 30px;
  justify-content: center;
  @include b.min-width('small') {
    min-height: 20vh;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: clamp(5px, 1.5vw, 10px);
  line-height: clamp(6px, 1em, 12px);
  letter-spacing: 0.1em;
  position: block;
}
