@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/breakpoints' as b;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/layout/layout' as l;
.footer {
  @include m.theme() {
    background-color: m.t(base2);
  }
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

@mixin footer-section {
  margin: 0 10vw;
  display: flex;
  align-items: center;
}

.footer__top {
  @include footer-section;
  min-height: 10vh;
  @include b.min-width('large') {
    min-height: 20vh;
  }
}

.footer__top-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.footer__logo {
  position: relative;
  width: clamp(80px, 10vw, 171px);
  aspect-ratio: 171/40;
  height: 100%;
  display: flex;
}

.footer__logo-svg {
  width: 100%;
  height: 100%;
  @include m.theme() {
    color: m.t(contrast);
  }
}

.footer__divider {
  flex: 1;
  height: 3px;
  border-bottom: 1px solid c.$grey;
}

.footer__middle {
  @include footer-section;
  min-height: 20vh;
  flex-direction: row;
  align-items: flex-start;
  gap: clamp(10px, 10vw, 30px);
  flex-wrap: wrap;
}

.footer__middle-item {
  width: clamp(156px, 10vw, 223px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: clamp(20px, 1.2vw, 30px);
}

.footer__middle-item-header {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: clamp(17px, 1.2em, 24px);
  text-transform: uppercase;
}

.footer__motto {
  position: absolute;
  left: clamp(14px, 1.5vw, 56px);
  top: 50%;
  transform: translateY(-50%);
  @include m.theme() {
    color: m.t(contrast);
    width: 20px;
    height: clamp(120px, 5vw, 200px);
  }
}

.footer__middle-item-content-link {
  @include m.interact {
    text-decoration: underline;
  }
  @include m.noselect;
  transition-duration: 200ms;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(10px, 0.8vw, 15px);
  line-height: 150%;
  text-transform: uppercase;
}

.footer__follow {
  margin: auto;
  margin-top: initial;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
}

.footer__bottom {
  @include footer-section;
  min-height: 10vh;
  @include b.min-width('large') {
    min-height: 20vh;
  }
  justify-content: center;
}

.footer__copyright {
  font-family: 'Marine';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(5px, 1.5vw, 10px);
  line-height: clamp(6px, 1em, 12px);
  letter-spacing: 0.1em;
  position: block;
}
