@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/layout/layout' as l;
.nav {
	top: 0;
	position: sticky;
  min-height: 44px;
  width: 100vw;
  background-color: c.$black;
  display: flex;
  align-items: center;
  justify-content: center;
	z-index: 998;
}

.nav__menu {
  display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: center;
	justify-content: center;
  gap: 19px;
}

.nav__menu-link {
	@include m.noselect;
	width: 102px;
  color: c.$white;
  cursor: pointer;
}
