@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
@use '@/styles/layout/layout' as l;
.nav {
  height: 44px;
  justify-content: center;
  gap: 20%;
  display: none;
  background-color: c.$black;
  @include b.min-width('medium') {
    display: flex;
  }
}

.nav__wrapper {
  top: 0;
  z-index: 998;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.nav__menu {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 0.5vw, 19px);
  justify-self: center;
  width: 41%;
}

.nav__menu-link {
  @include m.noselect;
  width: clamp(72px, 2vw, 102px);
  color: c.$white;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  @include m.desktop-width;
}

.nav__personal {
  // position: absolute;
  // left: 10vw;
  // top: -50%;
  overflow: visible;
  display: flex;
  align-items: center;
  gap: 10px;
  // width: 240px;
  width: 33%;
  white-space: no-wrap;
  line-height: 44px;
}

.nav__personal-pfp-container {
  position: relative;

  width: 86px;
  height: 86px;
  border-radius: 100%;
  overflow: hidden;

  @include m.interact() {
    .nav__personal-pfp-src {
      transition: 200ms;
      transform: scale(1.03);
    }
  }
}

.nav__personal-pfp-src {
}

.nav__personal-message {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(12px, 0.7vw, 14px);
  line-height: 100%;
  /* or 20px */
  flex: 1;

  letter-spacing: 0.1em;

  @include m.theme() {
    color: c.$white;
  }
}

.nav__search {
  width: 25%;
  display: flex;
  align-items: center;
}
