@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.ash-price {
  @include m.theme() {
    @include m.interact;
    width: 100%;
    aspect-ratio: 49/14;
    text-align: center;
    background-color: c.$accent;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 130%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
