@use '@/styles/layout/layout' as l;
@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

//---------------------------Collection Panel--------------------------------

.collection-panel__tabs {
}

.collection-panel__tabs-list {
  @include m.tabs-list;
}

.collection-panel__tabs-tab {
  @include m.tabs-tab;
}

.collection-panel__tabs-panels {
  @include m.tabs-panels;
}

.collection-panel__tabs-tab {
}

.collection-panel__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  height: auto;
}

.collection-panel__tile {
  @include m.theme() {
    gap: 66px;
    transition-duration: 200ms;
    @include m.flex-row;
    @include m.flex-center;
    background-color: m.t(base);
    color: m.t(contrast);
    border: 1px solid transparent;
    @include m.interact() {
      border: 1px solid m.t(contrast);
      color: m.t(base);
      background-color: m.t(contrast);
      img {
        transition-duration: 200ms;
        transform: scale(1.02);
      }
    }
  }
}

.collection-panel__img-container {
  overflow: hidden;
  position: relative;
  width: 60px;
  aspect-ratio: 1/1;
}

.collection-panel__tile-info {
}

.collection-panel__tile-nft-name {
  @include m.theme() {
    @include m.text-h3;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.collection-panel__tile-artist-name {
  @include m.theme() {
    text-transform: uppercase;
    color: m.t(accent);
  }
}

.collection-panel__gallery {
  //   width: 800px;
  position: relative;
}

@mixin gallery-control-buttons {
  width: 30px;
  height: 30px;
  z-index: 100;
  position: absolute;
  @include m.interact;
  @include m.theme() {
    color: m.t(accent);
  }
}

.collection-panel__gallery-control-left {
  @include gallery-control-buttons;
  left: -50px;
}

.collection-panel__gallery-control-right {
  @include gallery-control-buttons;
  // right: -160%;
  right: 0;
}

.collection-panel__gallery-display {
  @include m.flex-row;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  height: 799px;
  position: relative;
  margin-bottom: 25px;
  perspective: 100px;
}

.slick-current {
  transform: scale(1.1) translateZ(10px);
}

$main-height: 799px;

@mixin display-item {
  // aspect-ratio: 536/799;
  @include m.media-container;
  // position: absolute;
  // width: 300px;
  // height: 300px;
  margin-top: auto;
  position: absolute;
  margin-bottom: auto;
}

.collection-panel__gallery-display-item {
  background-color: red;
  @include display-item;
  // @include m.transition-base;

  &--first {
    @include display-item;
    background-color: red;
    z-index: 3;
    // width: 300px;
    // height: $main-height;
    // aspect-ratio: 1/1;
  }

  &--second {
    @include display-item;
    left: 50%;
    z-index: 2;
    transform: scale(0.92);
    // width: 200px;
    // height: calc($main-height * 0.923);
  }

  &--third {
    @include display-item;
    width: 100px;
    transform: scale(0.85);
    z-index: 1;
    left: 90%;
    // height: calc($main-height * 0.923 * 0.923);
  }
}

.collection-panel__gallery-grid {
  margin-top: 58px;
  max-width: 863px;
  gap: 13px;
  display: flex;
  flex-wrap: wrap;
}

.collection-panel__gallery-grid-item {
  @include m.interact;
  @include m.media-container;
  aspect-ratio: 1/1;
  width: 60px;
  height: 60px;
}
