@use "@/styles/abstracts/colors" as c;

.edit-profile-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 10px;
  .field {
    display: flex;
    justify-content: space-between;
  }
}

.profile-picture-modal {
  width: 100%;
  text-align: center;

  &__btn-container {
    margin-top: 1rem;
    button + button {
      margin-left: 1rem;
    }
  }

  &__btn {
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    background: c.$purple-button;
    color: white;
    line-height: 19px;
    border-radius: 26px;
  }
}
