@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;

// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type='number'] {
//   -moz-appearance: textfield;
// }

.games-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 996px;
}

.games-modal__header {
  display: flex;
  width: max-content;
  margin-top: 5px;
  gap: 0 25px;
  justify-content: center;
}

.games-modal__sage-logo {
}

.games-modal__body {
  display: flex;
  gap: 40px;
}

.games-modal__main-img-container {
  position: relative;
  width: 487px;
  height: 527px;
}

.games-modal__main-content {
  gap: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.games-modal__drop-name {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-transform: uppercase;
  color: #c4c4c4;
  @include m.theme() {
    color: m.t(contrast2);
  }
}

.games-modal__game-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  @include m.theme() {
    color: m.t(contrast);
  }
}

.games-modal__game-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;

  @include m.theme() {
    color: m.t(contrast);
  }
}

.games-modal__system {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.games-modal__system-icon-container {
  position: relative;
  height: 30px;
  width: 30px;

  @include m.theme() {
    background-color: m.t(accent);
  }
}

.games-modal__system-info {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;

  @include m.theme() {
    color: m.t(contrast);
  }
}

@mixin game-info-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

.games-modal__highest-bid-label {
  @include game-info-label;
}

.games-modal__ticket-cost-label {
  @include game-info-label;
}

@mixin game-info-value {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

.games-modal__bid-info-group {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.games-modal__highest-bid-value {
  @include game-info-value;
}

.games-modal__ticket-cost-value {
  @include game-info-value;
}

.games-modal__see-more-bids {
  font-style: normal;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  gap: 4px;
  text-align: right;
  text-transform: uppercase;

  color: #f5f5f5;
  @include m.theme() {
    color: m.t(contrast2);
  }

  @include m.interact() {
  }
}

.games-modal__see-more-bids-icon {
  width: 16px;
  height: 16px;
  position: relative;
  transition-duration: 200ms;

  &[data-active='true'] {
    transform: rotate(90deg);
  }
}

@mixin game-interact-button {
  width: 100%;
  aspect-ratio: 397/65;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @include m.theme() {
    color: m.t(base2);
    background-color: m.t(accent);
  }

  @include m.interact() {
  }
}

.games-modal__place-bid-button {
  @include game-interact-button;
}

.games-modal__buy-tickets-button {
  @include game-interact-button;
}

.games-modal__see-bid-history-button {
  background: transparent;
  width: 224px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;

  color: #161619;

  border: 1px solid #161619;
  @include m.theme() {
    color: m.t(contrast2);
    border: 1px solid m.t(contrast2);
  }

  @include m.interact() {
  }
}

.games-modal__bid-history-section {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.games-modal__bid-history-table {
  transition-duration: 200ms;
  height: 0px;

  &[data-active='true'] {
    height: auto;
  }
}

.games-modal__bid-history-data {
}

.games-modal__bid-history-row {
  display: flex;
  gap: 20px;
}

.games-modal__tickets-controls {
  display: flex;
  gap: 11px;
}

@mixin tickets-amount-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  position: relative;
  @include m.interact;
}

.games-modal__tickets-input {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 169%;
  /* or 41px */

  text-align: center;
  text-transform: uppercase;

  background: transparent;
  width: 101px;
  height: 40px;
  @include m.theme() {
    border: 1px solid m.t(contrast2);
    color: m.t(contrast2);
  }
}

.games-modal__tickets-add {
  @include tickets-amount-button;
}

.games-modal__tickets-sub {
  @include tickets-amount-button;
}
