@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  // aspect-ratio: 322/380;
  @include m.standard-width;
  @include b.min-width('medium') {
    // aspect-ratio: none;
    height: 1142px;
    width: min(2040px, 80vw);
  }
}

.hero__logotype-container {
  @include m.noselect;
  position: absolute;
  overflow: visible;
  aspect-ratio: 311/99.5;
  width: min(500px, 39vw);
  // width: 80vw;
  width: min(1200px, 58vw);
  z-index: 1;
}

.hero__banner {
  @include m.noselect;
  @include m.interact;
  margin-top: auto;
  overflow: hidden;
  position: relative;
  transition-duration: 300ms;
  width: 100%;
  aspect-ratio: 322/311;
  @include b.min-width('medium') {
    // aspect-ratio: 1196/872;
    height: 872px;
  }
}
