@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 322/380;
  @include m.standard-width;
  @include b.min-width('medium') {
    // aspect-ratio: none;
    height: 761px;
    width: min(1360px, 80vw);
  }
}

.hero__banner {
  @include m.noselect;
  @include m.interact;
  overflow: hidden;
  position: absolute;
  transition-duration: 300ms;
  width: 100%;
  aspect-ratio: 322/311;
  @include b.min-width('medium') {
    // aspect-ratio: 1196/872;
    height: 581px;
  }
}
