@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.sage-logotype__wrapper {
  @include m.noselect;
  margin-bottom: auto;
  overflow: visible;
  position: relative;
  z-index: 1;
  @include m.desktop-width;
}

.sage-logotype {
  @include m.noselect;
  overflow: visible;
  display: flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 1196/384;
  margin-left: auto;
  margin-right: auto;
  @include m.mobile-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.sage-logotype__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  gap: 10px;
  transform: translateX(-50%);
  @include m.theme() {
    color: m.t(contrast2);
  }
  left: -5vw;
  height: 25vw;
  @include b.min-width('medium') {
    height: 256px;
  }
}

.sage-logotype__src {
  position: absolute;
}

.sage-logotype__motto {
  flex: 1;
  @include m.data-color;
}

.sage-logotype__sage-icon {
  width: clamp(10px, 1vw, 30px);
  @include m.theme() {
    color: m.t(contrast2);
  }
  @include m.data-color;
}

.sage-logotype__svg {
  flex: 1;
  height: 100%;
  @include m.theme() {
    color: m.t(contrast2);
    @include m.data-color;
  }
}
