@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
.sage-logotype {
  @include m.noselect;
  overflow: visible;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 1196/384;
  margin-left: auto;
  margin-right: auto;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.sage-logotype__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  gap: 5px;
  transform: translateX(-50%);
  height: 100%;
  @include m.theme() {
    color: m.t(contrast2);
  }
  left: -5vw;
  // @include b.min-width('large') {
  // }
}

.sage-logotype__src {
  position: absolute;
}

.sage-logotype__motto {
  flex: 1;
}

.sage-logotype__sage-icon {
  width: clamp(10px, 1vw, 30px);
  @include m.theme() {
    color: m.t(contrast2);
  }
}

.sage-logotype__svg {
  flex: 1;
  height: 100%;
  @include m.theme() {
    color: m.t(contrast2);
  }
}
