@use '@/styles/abstracts/mixins' as m;
.lottery-thumbnail {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  gap: 3px;
  @include m.theme() {
    background-color: m.t(base);
  }
}

.lottery-thumbnail__item {
  position: relative;
  flex: 1;

  // grid-column: 2 / span 2;

  // &:nth-child(even) {
  //   grid-column: span 2;
  // }
}
