@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

$menu-z: 996;
$menu-toggle-z: $menu-z + 1;

.mobile-menu {
  overflow-y: auto;
  position: absolute;
  padding: 0px 10vw 0px;
  width: 80vw;
  height: 100vh;
  z-index: $menu-z;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.theme() {
    background-color: m.t(base);
  }
  transform: translateY(-100%);
  &[data-is-open='true'] {
    transform: translateY(0%);
  }
  transition-duration: 200ms;
}

.mobile-menu__logotype {
  margin-top: 95px;
  width: 100%;
}

.mobile-menu__nav {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

.mobile-menu__nav-item {
  position: relative;
  display: flex;
  align-items: center;

  padding: 8px 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.1em;

  @include m.theme() {
    color: m.t(contrast2);
    @include m.interact() {
      background-color: m.t(base2);
    }

    &:after {
      transition-duration: 200ms;
      opacity: 0;
      content: '';
      width: 10px;
      height: 10px;
      @include m.circle;
      background-color: m.t(accent);
      position: absolute;
      transform: translateX(-100%);
      left: -10px;
    }

    &[data-is-current='true'] {
      &:after {
        opacity: 1;
      }
    }
  }
}

// -------------------------------- Menu Toggle ---------------------------

.mobile-menu__toggle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 40px;
  top: 40px;
  @include m.interact;
  transition-duration: 1000ms;
  z-index: $menu-toggle-z;
}

.mobile-menu__toggle-inner {
  width: 20px;
  height: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin toggle-line {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  position: absolute;
  width: 20px;
  height: 3px;
  @include m.theme() {
    background-color: m.t(contrast);
  }
}

.mobile-menu__toggle-line1 {
  @include toggle-line;
  transition-delay: 80ms;
  &[data-is-open='false'] {
    transform: rotate(90deg);
  }
}

.mobile-menu__toggle-line2 {
  @include toggle-line;
  transition-delay: 80ms;
  top: 0;
  &[data-is-open='false'] {
    top: initial;
    transform: rotate(90deg) translateY(-6px);
  }
}

.mobile-menu__toggle-line3 {
  @include toggle-line;
  transition-delay: 60ms;
  bottom: 0;
  &[data-is-open='false'] {
    bottom: initial;
    transform: rotate(90deg) translateY(6px);
  }
}

.mobile-menu__socials {
  margin-top: auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m.theme() {
    color: m.t(contrast);
  }
}

.mobile-menu__socials-header {
  font-size: 14px;
  line-height: 17px;
}

.mobile-menu__socials-icons {
}

.mobile-menu__copyright {
  margin-top: 40px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 5px;
  line-height: 6px;

  letter-spacing: 0.1em;
  @include m.theme() {
    color: m.t(contrast);
  }
}
