@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;

.modal {
  position: relative;
  z-index: 999;
}

.modal__backdrop {
  position: fixed;
  background-color: c.$dark;
  opacity: 0.9;
  backdrop-filter: blur(4px);
  inset: 0;
}

.modal__container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__panel {
	position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: c.$dark;
  // box-shadow: 0px 4px 50px -10px rgba(83, 45, 234, 0.3), 0px 4px 50px #000000;
  min-width: 300px;
  color: white;
  padding: 20px;
}

.modal__header {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

// .modal__close-button {
// 	@include m.interact;
//   position: absolute;
//   width: 30px;
// 	top: 5%;
// 	right: 5%;
//   height: 30px;
// }
// fixed inset-0 flex items-center justify-center p-4
