@use "@/styles/abstracts/colors" as c;
.modal {
  position: relative;
  z-index: 50;

  &__backdrop {
    position: fixed;
    inset: 0;
  }

  &__container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__panel {
    /* Auto layout */
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* Modal Dark Bg */
    background: c.$modal-dark;
    box-shadow: 0px 4px 50px -10px rgba(83, 45, 234, 0.3), 0px 4px 50px #000000;
    border-radius: 18px;
    min-width: 300px;
    color: white;
    padding: 20px;
  }

  &__header {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    width: 100%;
    justify-content: space-between;
    height: 31px;
    align-items: center;
  }

  &__close__button {
    width: 15px;
    cursor: pointer;
  }
}

// fixed inset-0 flex items-center justify-center p-4
