@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/colors' as c;
.nft-tile {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  overflow: hidden;
  background: #1e1e21;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 50ms;

  @include m.hover {
    transform: scale(1.02);
  }
}

.nft-tile__image-container {
  position: relative;
  aspect-ratio: 448/550;
  cursor: pointer;
}

.nft-tile__interact {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  gap: 15px;
}

.nft-tile__interact-container {
  display: flex;
  justify-content: space-between;
}

.nft-tile__interact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nft-tile__interact-name {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

.nft-tile__interact-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  color: rgba(196, 196, 196, 0.6);
}

.nft-tile__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-tile__claimbutton {
  cursor: pointer;
  background: linear-gradient(90deg, #22b573 0%, #22b573 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  border: none;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}

.nft-tile__user-position-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  gap: 10px 30px;
  background: rgba(19, 19, 19, 0.6);
  border-radius: 9px;
}

.nft-tile__user-position-display-profile {
  display: flex;
  gap: 10px;
}

.nft-tile__user-position-display-profile-pfp {
  width: 34.61px;
  aspect-ratio: 1/1;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.nft-tile__user-position-display-profile-handles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.nft-tile__user-position-display-profile-handles-name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.nft-tile__user-position-display-profile-handles-username {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: rgba(196, 196, 196, 0.6);
}
.nft-tile__user-position-display-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nft-tile__user-position-display-game {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  width: 100%;
  justify-content: flex-end;
  gap: 3px;
  display: flex;
  align-items: center;
  color: #6f767e;
}

.nft-tile__user-position-display-game-highlight {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  color: white;
}

.nft-tile__user-position-display-game-status {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
