@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/colors' as c;
.nft-tile {
  border-radius: 9px;
  overflow: hidden;
  background: #1e1e21;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  .image {
    position: relative;
    aspect-ratio: 448/550;
    object-fit: cover;
    cursor: pointer;
  }
}

.interact {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */

    color: rgba(196, 196, 196, 0.6);
  }
}

.nft-tile__btn-container {
  // @include m.btn;
  // @include m.pill;
  // background: linear-gradient(90deg, #8e45b0 0%, #792e9c 100%);
  // border-radius: 20px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // padding: 6px 12px;
  // color: white;
  // font-style: normal;
  // font-weight: 600;
  // font-size: 12px;
  // line-height: 16px;
  // &[disabled] {
  //   background-color: #131314;
  //   color: #c4c4c4;
  // }

  // &__claimbutton {
  //   cursor: pointer;
  //   background: linear-gradient(90deg, #22B573 0%, #22B573 100%);
  //   border-radius: 20px;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 14px 12px;
  //   border: none;

  //   color: white;
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 12px;
  //   line-height: 16px;
  // }
}
