@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
}
.Toastify__toast-container--bottom-right {
}

/** Classes for the displayed toast **/
.Toastify__toast {
  @include m.theme() {
    aspect-ratio: 500/120;
    background-color: m.t(base2) !important;
    color: m.t(contrast) !important;
    border-radius: 0px;
  }
}
.Toastify__toast--rtl {
}
.Toastify__toast-body {
  display: flex;
  gap: 10px;
}

/** Used to position the icon **/
.Toastify__toast-icon {
  // width: 40px;
  // background-color: red;
  transform: scale(1.7);
  display: flex;
  justify-content: center;
}

/** handle the notificaiton color and the text color based on the theme **/
.Toastify__toast-theme--dark {
}
.Toastify__toast-theme--light {
}
.Toastify__toast-theme--colored.Toastify__toast--default {
}
.Toastify__toast-theme--colored.Toastify__toast--info {
}
.Toastify__toast-theme--colored.Toastify__toast--success {
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
}
.Toastify__toast-theme--colored.Toastify__toast--error {
}

.Toastify__progress-bar {
  @include m.theme() {
    background-color: m.t(contrast) !important;
  }
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar-theme--light {
}
.Toastify__progress-bar-theme--dark {
}
.Toastify__progress-bar--info {
}
.Toastify__progress-bar--success {
}
.Toastify__progress-bar--warning {
}
.Toastify__progress-bar--error {
}
/** colored notifications share the same progress bar color **/
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
  @include m.theme() {
    // background-color: m.t(contrast2);
    // border-radius: 100%;
    // aspect-ratio: 1/1;
    // opacity: 1;
    // width: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.Toastify__close-button--default {
}

.Toastify__close-button > svg {
  @include m.theme() {
    color: m.t(contrast);
    // border-radius: 100%;
    // aspect-ratio: 1/1;
    // opacity: 1;
    // width: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
}
