@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.wallet {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 0 0;
  width: 100%;
  justify-content: center;
  @include b.min-width('medium') {
    width: 800px;
    padding: 80px;
    gap: clamp(40px, 5vw, 50px);
    margin-top: 0;
  }
}

.wallet__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  text-transform: uppercase;
  @include m.theme() {
    color: m.t(contrast);
  }

  @include b.min-width('medium') {
  }
}

.wallet__header-prompt {
  font-weight: 400;
  font-size: clamp(20px, 3vw, 54px);
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;

  @include m.theme() {
    color: m.t(contrast);
  }
}

.wallet__header-sage-logo {
  position: relative;
  width: 183px;
  height: 50px;
  aspect-ratio: 183/50;
}

.wallet__header-info {
  font-weight: 400;
  font-size: clamp(8px, 1vw, 16px);
  line-height: 130%;
  text-align: center;
  @include m.theme() {
    color: contrast;
  }
}

.wallet__header-close-button {
  @include m.interact;
  position: relative;
  width: 30px;
  height: 30px;
}

.wallet__wallets {
  display: flex;
  align-items: stretch;
}

.wallet__wallet-item {
  @include m.interact {
    transform: scale(1.04);
  }
  background-color: transparent;
  cursor: pointer;
  transition-duration: 30ms;
  gap: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &:disabled {
    pointer-events: none;
    filter: brightness(0.6);
  }
}

.wallet__metamask {
  display: none;
  @include b.min-width('medium') {
    display: flex;
  }
}

.wallet__wallet-icon {
  @include m.theme() {
    flex: 1;
    width: min(40vw, 100px);
    height: min(40vw, 100px);
    // height: 120px;
    // position: relative;
    color: m.t(contrast);
  }
}

.wallet__wallet-name {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  @include m.theme() {
    color: m.t(contrast);
  }
}

.wallet__auth {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet__auth-ethereum-icon {
  width: 20px;
  height: 30px;
  @include m.theme() {
    color: m.t(contrast);
  }
}

@mixin auth-button {
  @include m.interact {
  }
  background: transparent;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
  transition-duration: 200ms;
  @include m.theme() {
    color: m.t(contrast);
    border: 1px solid m.t(contrast);
  }
  padding: 10px 20px;
}

.wallet__auth-sign-in-button {
  @include auth-button;
}

.wallet__auth-sign-out-button {
  @include auth-button;
}

.wallet__user-personal-message {
  @include m.theme() {
    color: m.t(contrast2);
  }
}

.wallet__user-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: min-content;

  @include b.min-width('medium') {
    flex: 1;
    width: 100%;
    gap: clamp(20px, 10vw, 40px);
  }
}

.wallet__user-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

@mixin connection-circle {
  position: relative;
  @include m.circle;
  overflow: hidden;
  width: clamp(40px, 30vw, 86px);
  @include b.min-width('medium') {
    width: clamp(40px, 30vw, 146px);
  }
}

.wallet__user-pfp-container {
  @include connection-circle;
  img {
    transition-duration: 200ms;
  }
  width: 70px;
  @include m.interact {
    img {
      transform: scale(1.05);
    }
  }
}

.wallet__user-pfp-src {
}

.wallet__user-metamask-container {
  @include connection-circle;
}

.wallet__user-metamask-src {
}

.wallet__user-connection-indicator {
  height: 0px;
  margin-left: 11px;
  border-radius: 1000px;
  width: clamp(65px, 10vw, 120px);
  @include m.theme() {
    border: 1px solid m.t(contrast2);
  }
}

.wallet__utils-section {
  display: flex;
  align-items: center;
  gap: clamp(30px, 5vw, 100px);
  justify-content: space-between;
}

.wallet__utils-info {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(8px, 0.8vw, 20px);
  line-height: 130%;
  @include m.theme() {
    color: m.t(contrast);
  }
  @include b.min-width('medium') {
  }
}

@mixin balance-label {
  display: flex;
  flex-direction: column;
}

@mixin balance-value {
  font-weight: bold;
}

.wallet__points-balance {
  @include balance-label;
}

.wallet__token-balance {
  @include balance-label;
}

.wallet__points-value {
  @include balance-value;
}

.wallet__token-value {
  @include balance-value;
}

.wallet__interact-button {
  aspect-ratio: 100/34;
  width: 86px;
  padding: 0 10px;
  @include m.theme() {
    color: m.t(contrast);
    background-color: m.t(base);
    border: 1px solid m.t(contrast);
  }
  @include m.interact;
  text-transform: uppercase;
}
