$bg-base: #1b1b1f;
$bg-dark: #161619;

$blue: #3368f6;

$box-black: #131314;

$text-gray: #9da6b0;
$text-gray-2: #6f676e;
$text-black: #3e3b3b;

$white: #ffffff;
$gray: #dddcdd;
$green: #22b573;

$purple-light: #b47dbd;
$purple: #a144c1;
$purple-button: linear-gradient(90deg, #6C2E9C 0%, #792E9C 100%);

$modal-dark: #212122;
