@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/breakpoints' as b;
@mixin img-container {
  position: relative;
  overflow: hidden;
}

@mixin circle {
  border-radius: 100%;
  aspect-ratio: 1/1;
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    @include theme() {
      background-color: t('accent');
      color: t('contrast');
    }
  }
}

@mixin page {
  width: 100vw;
  flex: 1;
  padding: 97px 0 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include b.min-width('medium') {
    padding: 80px 0 60px;
  }
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin interact {
  &[disabled] {
    filter: brightness(0.4);

    &[data-loading='true'] {
      cursor: progress;
    }
  }
  &:not([disabled]) {
    cursor: pointer;
    @include hover {
      @content;
      filter: brightness(0.9);
    }
    @include active {
      @content;
    }
  }
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin active {
  &:not([disabled]):active {
    @content;
  }
}

@mixin btn {
  @include interact;
}

@mixin pill {
  border-radius: 999px;
}

$themes: (
  dark: (
    base: $black,
    base2: $dark,
    accent: $gold,
    contrast2: $light,
    contrast: $white,
    filter-base: invert(0%) sepia(2%) saturate(0%) hue-rotate(344deg) brightness(98%) contrast(101%),
  ),
  light: (
    base: $white,
    base2: $light,
    accent: $red,
    contrast2: $dark,
    contrast: $black,
    filter-base: invert(100%) sepia(42%) saturate(228%) hue-rotate(47deg) brightness(119%)
      contrast(100%),
  ),
);

// From Sass 2.0 on, it is no longer allowed to declare globals on the fly.
$theme-map: null;

@mixin theme() {
  @each $theme, $map in $themes {
    // $theme: darkTheme, lightTheme
    // $map: ('text-color': ..., 'bg-color': ...)

    // make the $map globally accessible, so that theme-get() can access it
    $theme-map: $map !global;

    // make a class for each theme using interpolation -> #{}
    // use & for making the theme class ancestor of the class
    // from which you use @include theme() {...}
    .#{$theme} & {
      @content; // the content inside @include theme() {...}
    }
  }
  // no use of the variable $theme-map now
  $theme-map: null !global;
}

@function t($key) {
  @return map-get($theme-map, $key);
}

@mixin data-color {
  &[data-color='white'] {
    color: $white;
  }
}

@mixin data-bg-color {
  &[data-bg-color='white'] {
    background-color: $white;
  }
}

@mixin animate-highlight {
  animation-duration: 900ms;
  animation-iteration-count: 7;
  animation-name: highlight;
}

@keyframes highlight {
  60% {
    // background-color: c.$bg-base;
  }
}

$desktop-width: 1088px;

@mixin desktop-width {
  @include b.min-width('medium') {
    width: min($desktop-width, 80vw);
  }
}

@mixin desktop-inner-width {
  width: 800px;
}

@mixin mobile-width {
  width: min($desktop-width, 80vw);
}

@mixin mobile-width-full {
  width: min($desktop-width, 100vw);
}

@mixin standard-width {
  @include desktop-width;
  @include mobile-width;
}

@mixin text-h1 {
  // font-size: clamp(25px, 7vw, 45px);
  // line-height: 1em;
  text-align: left;
  margin-top: clamp(24px, 10vw, 111px);
  margin-bottom: clamp(10px, 5vw, 50px);
  // text-transform: capitalize;
  font-weight: 900;
  font-size: clamp(20px, 5vw, 50px);
  line-height: clamp(24px, 1em, 60px);
}

@mixin text-h2 {
  font-size: clamp(25px, 3vw, 40px);
  line-height: 51px;
}

@mixin text-h3 {
  font-size: 16px;
  line-height: 22px;
}

@mixin text-p1 {
  line-height: 140%;
  font-size: clamp(10px, 2vw, 16px);
}

@mixin text-p3 {
  font-size: clamp(14px, 0.8vw, 20px);
}
@mixin text-p4 {
  font-size: clamp(10px, 1vw, 15px);
  // line-height: clamp(18px, 1.5em, 25px);
}

@mixin text-p5 {
  font-size: clamp(6px, 0.8vw, 10px);
  line-height: 130%;
}

@mixin transition-base {
  transition-duration: 200ms;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@mixin animate-pulse {
  animation: pulse 1900ms infinite;
  animation-timing-function: ease-in;
}

@mixin button-base {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 400;
  font-size: clamp(10px, 1.5vw, 16px);
  width: min(365px, 80vw);
  text-align: center;
  letter-spacing: 0.1em;
  @include interact;
}
