@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/animations' as a;
@mixin img-container {
  position: relative;
  overflow: hidden;
}

@mixin circle {
  border-radius: 100%;
  aspect-ratio: 1/1;
}

@mixin interact {
  &[disabled] {
    background: c.$text-gray-2;
  }
  &:not([disabled]):hover {
    cursor: pointer;
  }
}

@mixin hover {
  &:not([disabled]):hover {
    filter: brightness(0.9);
    @content;
  }
}

@mixin btn {
  @include interact;
  @include hover;
}

@mixin pill {
  border-radius: 999px;
}

@mixin animate-highlight {
  animation-duration: 900ms;
  animation-iteration-count: 7;
  animation-name: highlight;
}

@keyframes highlight {
  60% {
    background-color: c.$bg-base;
  }
}
