@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
.artists-page {
  @include m.page;
  gap: clamp(7px, 0.5vw, 30px);
  width: 100%;
  align-items: center;
}

.artists-page__logotype {
  @include m.standard-width;
}

.artists-page__header-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: clamp(24px, 10vw, 111px);
  margin-bottom: clamp(10px, 5vw, 50px);
  margin-left: auto;
  margin-right: auto;
  @include m.mobile-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.artists-page__rows {
  margin-top: clamp(30px, 5vw, 90px);
}

.artists-page__header {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-size: clamp(20px, 5vw, 50px);
  line-height: clamp(24px, 1em, 60px);
}

.artists-page__subheader {
  font-style: normal;
  text-transform: initial;
  font-weight: 400;
  font-size: clamp(10px, 1.5vw, 16px);
  line-height: 130%;
}

.artists-page__row {
  width: 100%;
  gap: 1vw;
  display: flex;
  padding-top: 10px;

  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.artists-page__item {
  flex: none;
  width: clamp(183px, 48vw, 426px);
  aspect-ratio: 183/303;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: column;
  &:first-child {
    margin-left: 10px;
  }
  @include m.hover {
    @include m.theme() {
      background-color: m.t(accent);
      color: m.t(base);
    }
    transform: translate3d(-10px, -10px, 0px);
  }

  @include b.min-width('medium') {
  }
}

.artists-page__item-img {
  position: relative;
  aspect-ratio: 466/475;
  width: 100%;
  // height: 475px;
  // width: 466px;
}

.artists-page__item-img-text {
  margin: 20px;
  display: none;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  z-index: 999;
  color: c.$white;

  @include b.min-width('medium') {
    display: flex;
  }
}

.artists-page__item-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  flex: 1;
  gap: 10px;
  // aspect-ratio: 466/336;
}

.artists-page__item-content-header {
  margin: 0px 10px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 1.2vw, 40px);
  line-height: clamp(24px, 1em, 51px);
  // text-transform: capitalize;
}

.artists-page__item-content-description {
  color: inherit;
  margin: 0px 10px;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(8px, 0.9vw, 16px);
  overflow: clip;
  line-height: 130%;
}
