@use '@/styles/abstracts/mixins' as m;
.artist-page {
  @include m.page;
  width: min(1440px, 80vw);
  margin-left: auto;
  margin-right: auto;
}

.artist-page__banner-label {
  width: 100%;
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.artist-page__artist-section {
  width: 100%;
  margin-top: 38px;
}

.artist-page__artist-section-flex-x {
  margin-top: 30px;
  display: flex;
  gap: 28px;
}

.artist-page__pfp-container {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.artist-page__name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  @include m.theme() {
    color: m.t(contrast);
  }
}

.artist-page__socials {
  margin-top: 14px;
  display: flex;
  gap: 13px;
  // flex-wrap: wrap;
}

.artist-page__socials-item {
  position: relative;
  width: clamp(22px, 2vw, 34px);
  height: clamp(22px, 2vw, 34px);
  display: flex;
  align-items: center;
  justify-content: center;
  @include m.theme() {
    background-color: m.t(accent);
  }
  overflow: hidden;
  border-radius: 100%;
}

.artist-page__socials-svg {
  @include m.theme() {
    // background-color: m.t(accent);
    color: m.t(base);
  }
}

.artist-page__connect {
  margin-top: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 136.6%;
  width: clamp(60px, 100%, 309px);
  text-align: center;
  letter-spacing: 0.35em;
  aspect-ratio: 309/27;

  @include m.interact;

  @include m.theme() {
    color: m.t(contrast2);
    background-color: m.t(base2);
    border: 1px solid m.t(contrast2);
  }
}

.artist-page__bio-container {
  margin-top: 100px;
  display: flex;
  gap: 6px;
}

.artist-page__bio {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  @include m.theme() {
    color: m.t(contrast2);
  }
}
