@use "@/styles/abstracts/colors" as c;

.dashboard-page {
  margin: 2rem 5rem 2rem 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 500;
  font-size: 14px;
}

.dashboard-panel {
  margin-top: 1rem;
  margin-left: 2rem;
}

.dashboard-search-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  text-align: center;
}

.dashboard-search-icon {
  filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
  margin-right: 1rem;
}

.dashboard-user {
  &__profile-img {
    width: 2rem;
    height: 2rem;
    border-radius: 7px;
    border: 1px solid c.$text-gray-2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    cursor: pointer;
  }

  &__wallet {
    &-clipboard {
      filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
      cursor: pointer;
      margin-right: 1rem;
      width: 1rem;
      height: 1rem;
      border: 1px solid c.$text-gray-2;
      border-radius: 99px;
      display: flex;
      padding: 0.15rem;
    }

    &-short-address {
      font-family: ui-monospace, SFMono-Regular, Menlo, 'Courier New', monospace;
      line-height: 1.5rem;
    }
  }

  &__table {
    border: solid 1px c.$text-gray-2;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 14px;

    &__header {
      border: dashed 1px c.$text-gray-2;
      padding: 15px 15px 15px 15px;
      border-bottom: solid 3px c.$text-gray-2;
      font-weight: bold;
      cursor: pointer;
    }

    &__cell {
      border: dashed 1px c.$text-gray-2;
      padding-right: 25px;
      padding-left: 25px;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
  }

  &__nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

    &--active {
      background-color: c.$purple !important;
      cursor: default !important;
    }

    button {
      cursor: pointer;
      background-color: c.$bg-base;
      color: white;
      padding: 10px 13px;
      border-radius: 5px;
      border: 1px solid c.$text-gray-2;
      transition: background-color 0.3s;
      margin: 0 2px;
    }
    button:hover {
      background-color: c.$text-black;
    }
    button:disabled,
    button[disabled] {
      background-color: c.$text-black;
      cursor: default;
    }
  }
}
