@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
.drops-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drops-page__header {
  width: min(1440px, 80vw);
}

.drops-page__subheader {
}

.drops-page__subheader-top {
  margin-top: min(70px, 5vw);
  display: flex;
  gap: min(40px, 3vw);
}

.drops-page__subheader-sage-icon {
  position: relative;
  height: min(60px, 7vw);
  aspect-ratio: 43/46;
  align-items: center;
}

.drops-page__subheader-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.drops-page__subheader-label {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: min(50px, 3.5vw);
  line-height: min(60px, 1.5em);
}

.drops-page__subheader-info {
  font-style: normal;
  font-weight: 400;
  font-size: min(16px, 1.5vw);
  line-height: 130%;
}

.drops-page__drops-section {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100vw;
}

.drops-page__drop {
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1440/1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drops-page__drop-header {
  display: flex;
  flex: 1;
  z-index: 1;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
}

.drops-page__drop-header-title {
  font-style: normal;
  white-space: nowrap;
  font-weight: 400;
  font-size: min(52px, 3vw);
  line-height: 81px;
  text-transform: uppercase;

  color: c.$light;
}

.drops-page__drop-header-countdown {
  @include m.theme() {
    color: m.t(accent);
    border: 1px solid m.t(accent);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  aspect-ratio: 466/85;
  width: min(400px, 10em);

  font-style: normal;
  font-weight: 400;
  font-size: min(40px, 2.5vw);
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
}

.drops-page__drop-content {
	gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  z-index: 1;
  width: 80vw;
}

.drops-page__drop-content-btn {
  @include m.interact;
	margin-right: auto;
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: min(14px, 2vw);
  line-height: 136.6%;
  text-align: center;
  letter-spacing: 0.35em;
  background-color: c.$white;
  color: c.$black;
  border: 1px solid black;
  text-transform: uppercase;
  width: min(345px, 20em);
  aspect-ratio: 345/50;

  &[data-status='Live'] {
    @include m.theme() {
      background-color: m.t(accent);
    }
  }
}


.drops-page__drop-content-systems {
	display: flex;
	margin-left: auto;
	gap: 10px;
}

.drops-page__drop-content-systems-icon {
  position: relative;
	backdrop-filter: invert(1);
  width: 30px;
	height: 30px;
	@include m.theme() {
		background-color: m.t(accent);
	}
}

.drops-page__drop-content-description {
  font-weight: 400;
  font-size: 16px;
  width: min(466px, 30vw);
  line-height: 130%;
  text-transform: uppercase;
  color: c.$white;
}

.drops-page__drop-backdrop {
  width: 1000px;
  height: 1000px;
  filter: brightness(0.3);
}

.drops-page__drop-focus {
  position: relative;
  width: 80vw;
  aspect-ratio: 1196/640;
  z-index: 2;
}
