@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
.drops-page {
  @include m.page;
  align-items: center;
}

.drops-page__header {
  @include m.standard-width;
}

.drops-page__subheader {
  // @include m.desktop-width;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @include m.mobile-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.drops-page__subheader-top {
  display: flex;
  // gap: min(40px, 3vw);
}

.drops-page__subheader-sage-icon {
  position: relative;
  height: min(60px, 7vw);
  aspect-ratio: 43/46;
  align-items: center;
  display: none;
  @include b.min-width('medium') {
    display: flex;
  }
}

.drops-page__subheader-content {
  display: flex;
  flex-direction: column;
  // gap: 8px;
}

.drops-page__subheader-label {
  @include m.text-h1;
  // @include m.text-h1;
  // font-style: normal;
  // font-weight: 400;
  // font-size: clamp(24px, 3.5vw, 50px);
  // line-height: clamp(25px, 1em, 60px);
}

.drops-page__subheader-info {
  // margin-top: 20px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(10px, 1.5vw, 16px);
  line-height: 130%;
}

.drops-page__drops-section {
  display: flex;
  flex-direction: column;
  margin-top: clamp(30px, 5vw, 90px);
  @include m.mobile-width-full;
  @include b.min-width('medium') {
    @include m.desktop-width;
  }
}

.drops-page__drop {
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1440/1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drops-page__drop-header {
  display: flex;
  flex: 1;
  z-index: 1;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.drops-page__drop-header-title {
  font-style: normal;
  white-space: nowrap;
  font-weight: 400;
  font-size: clamp(14px, 3vw, 52px);
  line-height: clamp(19px, 1em, 81px);
  text-transform: uppercase;

  color: c.$light;
}

.drops-page__drop-header-countdown {
  @include m.theme() {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    aspect-ratio: 466/85;
    width: clamp(30px, 7em, 150px);

    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 2.3vw, 30px);
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;

    color: c.$white;
    border: 1px solid c.$white;
    &[data-status='Live'] {
      aspect-ratio: 400/85;
      color: m.t(accent);
      border: 1px solid m.t(accent);
    }
  }
}

.drops-page__drop-content {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  z-index: 1;
  width: 80%;
}

.drops-page__drop-content-btn {
  @include m.interact;
  margin-right: auto;
  transition-duration: 200ms;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // font-weight: 400;
  // font-size: clamp(10px, 1.5vw, 16px);
  // line-height: 130%;
  // text-align: center;
  // letter-spacing: 0.1em;
  // text-transform: uppercase;
  // aspect-ratio: 600/50;
  @include m.button-base;
  width: 100%;
  @include b.min-width('medium') {
    // width:
    // width: min(345px, 20em);
    // aspect-ratio: 345/50;
    width: min(365px, 80vw);
  }

  @include m.theme {
    color: c.$black;
    background-color: c.$white;
    &[data-status='Live'] {
      color: m.t(base);
      background-color: m.t(accent);
    }
  }
}

.drops-page__drop-content-description {
  font-weight: 400;
  font-size: clamp(12px, 1vw, 16px);
  width: min(506px, 40%);
  line-height: 130%;
  text-transform: uppercase;
  color: c.$white;
  display: none;

  @include b.min-width('medium') {
    display: initial;
  }
}

.drops-page__drop-backdrop {
  width: 1000px;
  height: 1000px;
  filter: brightness(0.3);
}

.drops-page__drop-focus {
  cursor: pointer;
  position: relative;
  width: 80%;
  aspect-ratio: 1196/640;
  z-index: 2;
}
