@use '@/styles/abstracts/colors' as c;
@use '@/styles/layout/layout' as l;
@use '@/styles/abstracts/breakpoints' as b;

@mixin transition {
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.home-page__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.home-page__sage-logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: max(92px, 4vw);
  letter-spacing: max(5px, 1vw);
  cursor: default;
  background-color: orange;
  padding: 200px;
  z-index: 1;
}

.home-page__two {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
	padding: 200px 0;
}

.home-page__two-item {
  @include transition;
  padding: 150px 0;
  text-transform: uppercase;
  font-size: 72px;
  color: grey;
  cursor: pointer;
  &:hover {
    padding-right: 300px;
    padding-left: 200px;
  }
}

.cursor {
  @include transition;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.cursor__dot {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 100%;
  pointer-events: none;
  position: absolute;

  @include transition;

  animation-name: cursor;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 999;
  &[data-type='small'] {
    width: 6px;
    height: 6px;
  }
}

.cursor__media {
  cursor: default;
  pointer-events: none;
  height: 0px;
  width: 600px;
  position: absolute;

  z-index: 0;
  transform: translate(-30%, -30%);

  background-color: white;
  @include transition;
  &[data-show='true'] {
    opacity: 0.7;
    height: 300px;
    width: 600px;
    &[data-bg='1'] {
      background-color: orange;
    }
    &[data-bg='2'] {
      background-color: brown;
    }
  }
}

@keyframes cursor {
  0% {
  }

  100% {
    // transform: rotate(15);
    // transform: rotate(180deg);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    // top: attr(data-y);
  }
}
