@use '@/styles/abstracts/colors' as c;
@use '@/styles/layout/layout' as l;
@use '@/styles/abstracts/breakpoints' as b;
.home-page {
  display: flex;
	gap: 20px;
  flex-direction: column;
  padding: 30px l.$indent;
	height: min-content;
}

.home-page__subheader {
  font-weight: 600;
  size: 19px;
}

.home-page__featured-drops {
  // margin: 23px l.$indent 55px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
	gap: 20px;
  @include b.min-width('small') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include b.min-width('medium') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include b.min-width('2xl') {
    grid-template-columns: repeat(4, 1fr);
  }
}
