@use "@/styles/abstracts/colors" as c;
@use "@/styles/layout/layout" as l;
#home-page {
  flex: 1;
  .banner-slider {
    margin: 50px 0;
    /* hide scrollbar */
    &::-webkit-scrollbar {
      background-color: transparent;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  }

  .slick-list {
    padding-bottom: 20px;
  }

  .banner-image {
    aspect-ratio: 7/3;
    max-height: 700px;
    width: 80%;
    border-radius: 18px;
    object-fit: cover;
    margin: 0 l.$indent;
  }

  .slick-dots {
    margin-left: l.$indent;
    width: auto;
    display: flex;
    li {
      border-radius: 50%;
      background-color: gray;
      width: 14px;
      height: 14px;
      button {
        display: flex;
        align-items: center;

        &:before {
          content: '';
        }
      }
      &.slick-active {
        background-color: c.$green;
      }
    }
  }

  #header {
    font-weight: 600;
    margin-left: l.$indent;
    size: 19px;
  }
  #featured-drops {
    margin: 23px l.$indent 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
  }

  #explore-all {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 132px;
    button {
      border: 1.5px solid #6c437e;
      box-sizing: border-box;
      border-radius: 23px;
      background: transparent;
      color: white;
      font-size: 16px;
      font-weight: 500;
      padding: 15px 20px;
      cursor: pointer;
      line-height: 16px;
    }
  }
}
