@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.howtobuyash {
  @include m.page;
}

.howtobuyash-header {
  @include m.text-h1;
  @include m.standard-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.howtobuyash-text {
  @include m.standard-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
  @include m.text-p1;
  @include m.theme() {
    color: m.t(contrast2);
  }
}

.howtobuyash__group {
  @include m.mobile-width;
  gap: 14px;
  display: flex;
  flex-direction: column;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
  margin-bottom: clamp(24px, 5vh, 79px);
}

.howtobuyash__earning-pixels-info {
  @include m.standard-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
  @include m.text-p1;
  @include m.theme() {
    color: m.t(contrast2);
  }
}

.howtobuyash-text-link {
  text-decoration: underline;
}

.howtobuyash-bullet {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 130%;
  text-transform: capitalize;
}
