@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.howtobuyash {
  @include m.page;
}

.howtobuyash-header {
  @include m.text-h1;
  @include m.standard-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.howtobuyash-text {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 1.8em;
  // text-transform: capitalize;
  @include m.standard-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.howtobuyash-text-link {
  text-decoration: underline;
}

.howtobuyash-bullet {
  font-weight: bolder;
  font-size: clamp(14px, 1.2vw, 20px);
  margin-right: 10px;
}
