@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.press-page {
  @include m.page;
}

.press-page__content {
  @include m.mobile-width;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.press-page__header {
  @include m.text-h1;
  text-transform: uppercase;
  text-align: left;
}

.press-page__assets-container {
  // background-color: blue;
  // height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // @include b.min-width('medium') {
  //   grid-template-columns: repeat(10, 1fr);
  // }
  @include b.min-width('medium') {
    flex-direction: row;
  }
}

.press-page__icons-container {
  display: flex;
  gap: 20px;
}

.press-page__logotypes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include b.min-width('medium') {
    flex-direction: row;
  }
}

@mixin icon-asset {
  aspect-ratio: 1/1;
  width: 50%;
  svg {
    width: 100%;
    height: 100%;
  }
  @include b.min-width('medium') {
    width: 60px;
  }
}

@mixin logotype-asset {
  width: 100%;
  aspect-ratio: 400/99;

  @include b.min-width('medium') {
    width: 240px;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.press-page__icon-white {
  @include icon-asset;
}

.press-page__icon-black {
  @include icon-asset;
}

.press-page__logotype-white {
  @include logotype-asset;
}

.press-page__logotype-black {
  @include logotype-asset;
}
.press-page__subheader {
  margin-top: 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.press-page__subheader-info {
  @include m.text-p1;
  @include m.theme() {
    color: m.t(contrast2);
  }
}
