@use '@/styles/layout/layout' as l;
@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

// ------------------------ local mixins ----------------------------------
@mixin group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@mixin balance-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin balance-value {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

@mixin balance-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

@mixin input-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  @include m.theme() {
    color: m.t(contrast);
  }
}
@mixin input-field {
  min-height: 30px;
  flex: 1;
  @include m.theme() {
    background: c.$white;
    border: 1px solid c.$grey;
  }
}

@mixin input-group {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@mixin panel-header {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

@mixin panel-subheader {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}
// ------------------------ local mixins ----------------------------------

.profile-page {
  @include m.page;
  flex-direction: row;
  align-items: flex-start;
  max-width: 80vw;
  gap: clamp(20px, 5vw, 160px);
  flex-wrap: wrap;
}

.profile-page__sage-logo-container {
  position: relative;
  width: 300px;
  height: 100px;
}

.profile-page__menu {
  @include group;
}

.profile-page__pfp-container {
  margin-top: 20px;
  position: relative;
  background-color: grey;
  width: 100px;
  overflow: hidden;
  @include m.circle;
}

.profile-page__tabs {
  display: flex;
  flex-direction: column;
}

.profile-page__tabs-tab {
  padding: 4px 16px;
  transition-duration: 20ms;
  outline: none;

  @include m.noselect;

  @include m.theme() {
    color: m.t(contrast);
    text-align: left;
    background-color: transparent;
    @include m.interact() {
      background-color: m.t(contrast);
      color: m.t(base);
    }

    &[data-active='true'] {
      background-color: m.t(contrast);
      color: m.t(base2);
    }
  }
}

.profile-page__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.profile-page__balances {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 5vw, 160px);
}

.profile-page__balances-points {
  @include balance-group;
}

.profile-page__balances-points-value {
  @include balance-value;
}

.profile-page__balances-points-label {
  @include balance-label;
}

.profile-page__balances-token {
  flex: 1;
  @include balance-group;
}

.profile-page__balances-token-value {
  @include balance-value;
}

.profile-page__balances-token-label {
  @include balance-label;
}

.profile-page__tabs-panels {
  display: flex;
  max-width: 80vw;
  min-height: 50vh;
}

.profile-page__tabs-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 45px;
  // background-color: brown;
}

.profile-page__tabs-panel-header {
  @include panel-header;
}

.profile-page__tabs-panel-subheader {
  @include panel-subheader;
}

//---------------------------Profile Panel--------------------------------

.profile-panel {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.profile-panel__pfp-group {
  @include input-group;
}

.profile-panel__pfp-container {
  overflow: hidden;
  @include m.interact {
  }
  position: relative;
  width: 120px;
  aspect-ratio: 1/1;
  background-color: c.$grey;
  border-radius: 100%;
}

.profile-panel__pfp-label {
  @include input-label;
}

.profile-panel__personal-group {
  @include input-group;
}

.profile-panel__personal-label {
  @include input-label;
}
.profile-panel__personal-field {
  @include input-field;
}

.profile-panel__bio-group {
  @include input-group;
  flex: 1;
}

.profile-panel__bio-label {
  @include input-label;
}

.profile-panel__bio-field {
  border: 1px solid c.$grey;
  background-color: c.$white;
  display: flex;
  flex: 1;
  min-height: 150px;
}

.profile-panel__socials-group {
  @include input-group;
  flex-wrap: wrap;
}

.profile-panel__socials-label {
  @include input-label;
}

.profile-panel__socials-field-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
}
.profile-panel__socials-field {
  @include input-field;
}

.profile-panel__save-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 136.6%;

  text-align: center;
  letter-spacing: 0.2em;

  width: 365px;
  height: 50px;

  @include m.interact;
  @include m.theme() {
    background-color: m.t(contrast);
    color: m.t(base2);
  }
}

//---------------------------Profile Panel--------------------------------
//---------------------------Collection Panel--------------------------------

.collection-panel__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  height: auto;
}

.collection-panel__tile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition-duration: 200ms;

  @include m.theme() {
    background-color: m.t(base2);
    color: m.t(contrast2);
    border: 1px solid transparent;
    @include m.interact() {
      border: 1px solid contrast2;
      color: m.t(base2);
      background-color: m.t(contrast2);
      img {
        transition-duration: 200ms;
        transform: scale(1.02);
      }
    }
  }
}

.collection-panel__img-container {
  overflow: hidden;
  position: relative;
  width: 345px;
  aspect-ratio: 1/1;
}

.collection-panel__tile-header {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-transform: uppercase;
}

.collection-panel__tile-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
}

//---------------------------Collection Panel--------------------------------

.creations-panel {
  display: flex;
  flex-direction: column;
  gap: 191px;
}

.creations-panel__form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.creations-panel__file-upload-group {
  @include input-group;
}

.creations-panel__file-upload-field-wrapper {
	overflow:hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  width: 100%;
  aspect-ratio: 851/420;
  @include m.theme() {
    background-color: m.t(base2);
    border: 1px solid m.t(contrast2);
  }
  @include m.interact;
}

.creations-panel__file-upload-field {
  @include m.interact;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: red;
}

.creations-panel__file-upload-plus-icon {
  position: absolute;
  z-index: 1;
}

.creations-panel__file-upload-label {
  @include input-label;
}

.creations-panel__file-title-group {
  @include input-group;
}
.creations-panel__file-title-label {
  @include input-label;
}
.creations-panel__file-title-field {
  @include input-field;
  width: 100%;
  background-color: red;
}

.creations-panel__file-desc-group {
  @include input-group;
  width: 100%;
  flex: 1;
}
.creations-panel__file-desc-label {
  @include input-label;
}
.creations-panel__file-desc-field {
  flex: 1;
  min-height: 150px;
}

.creations-panel__submit-button {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 136.6%;
  text-align: center;
  letter-spacing: 0.35em;
  height: 50px;

  @include m.interact() {
  }

  @include m.theme() {
    background-color: m.t(base2);
    border: 1px solid m.t(contrast2);
    color: m.t(contrast2);
  }
}

.creations-panel__manage {
}

.creations-panel__manage-header {
  @include panel-header;
}

.creations-panel__manage-subheader {
  @include panel-subheader;
}
