@use '@/styles/layout/layout' as l;
@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;
.profile-page {
  @include m.page;
  flex-direction: row;
  align-items: flex-start;
  width: 80vw;
  gap: clamp(20px, 5vw, 160px);
  flex-wrap: wrap;
}

.profile-page__sage-logo-container {
  position: relative;
  width: 300px;
  height: 100px;
}

@mixin group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-page__menu {
  @include group;
}

.profile-page__pfp-container {
  margin-top: 20px;
  position: relative;
  background-color: grey;
  width: 100px;
  overflow: hidden;
  @include m.circle;
}

.profile-page__tabs {
  display: flex;
  flex-direction: column;
}

.profile-page__tabs-tab {
  padding: 4px 16px;
  transition-duration: 20ms;
  outline: none;

  @include m.noselect;

  @include m.theme() {
    color: m.t(contrast);
    @include m.interact() {
      background-color: m.t(contrast);
      color: m.t(base);
    }

    &[data-active='true'] {
      background-color: m.t(contrast);
      color: m.t(base2);
    }
  }
}

.profile-page__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.profile-page__balances {
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 5vw, 160px);
}

@mixin balance-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin balance-value {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

@mixin balance-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

.profile-page__balances-points {
  @include balance-group;
}

.profile-page__balances-points-value {
  @include balance-value;
}

.profile-page__balances-points-label {
  @include balance-label;
}

.profile-page__balances-token {
  flex: 1;
  @include balance-group;
}

.profile-page__balances-token-value {
  @include balance-value;
}

.profile-page__balances-token-label {
  @include balance-label;
}

.profile-page__tabs-panels {
  display: flex;
}

.profile-page__tabs-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 45px;
  // background-color: brown;
}

.profile-page__tabs-panel-header {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

.profile-page__tabs-panel-subheader {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @include m.theme() {
    color: m.t(contrast2);
  }
}

//---------------------------Tab Panels--------------------------------
@mixin profile-panel-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  @include m.theme() {
    color: m.t(contrast);
  }
}
@mixin profile-panel-field {
  min-height: 30px;
  flex: 1;
  max-width: 345px;
  @include m.theme() {
    background: c.$white;
    border: 1px solid c.$grey;
  }
}

@mixin profile-panel-group {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.panel-profile {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.panel-profile__pfp-group {
  @include profile-panel-group;
}

.panel-profile__pfp-container {
  overflow: hidden;
  @include m.interact {
  }
  position: relative;
  width: 120px;
  aspect-ratio: 1/1;
  background-color: c.$grey;
  border-radius: 100%;
}

.panel-profile__pfp-label {
  @include profile-panel-label;
}

.panel-profile__personal-group {
  @include profile-panel-group;
}

.panel-profile__personal-label {
  @include profile-panel-label;
}
.panel-profile__personal-field {
  @include profile-panel-field;
}

.panel-profile__bio-group {
  @include profile-panel-group;
  flex: 1;
}

.panel-profile__bio-label {
  @include profile-panel-label;
}

.panel-profile__bio-field {
  border: 1px solid c.$grey;
  background-color: c.$white;
  display: flex;
  flex: 1;
  min-height: 150px;
}

.panel-profile__socials-group {
  @include profile-panel-group;
  flex-wrap: wrap;
}

.panel-profile__socials-label {
  @include profile-panel-label;
}

.panel-profile__socials-field-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
}
.panel-profile__socials-field {
  @include profile-panel-field;
}

.panel-profile__save-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 136.6%;

  text-align: center;
  letter-spacing: 0.2em;

  width: 365px;
  height: 50px;

  @include m.interact;
  @include m.theme() {
    background-color: m.t(contrast);
    color: m.t(base2);
  }
}

// .panel-profile__social-group {
//   @include profile-panel-group;
// }

/*

    <div className='panel-profile'>
      <div className='panel-profile__upload-pfp-group'>
        <div className='panel-profile__upload-pfp'>
          <PfpImage src='/'></PfpImage>
        </div>
        <h2 className='panel-profile__upload-pfp-label'>add a profile picture</h2>
      </div>
      <div className='panel-profile__upload-bio-group'>
        <h2 className='panel-profile__upload-bio-label'>about section, max 400 characters</h2>
        <textarea className='panel-profile__upload-bio-field' />
      </div>
    </div>
*/
