@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.search-page {
  @include m.page;
}

.search-page__logotype-container {
  display: flex;
  justify-content: center;
}

.search-page__grid {
  display: grid;
  width: 100%;
  gap: 1vw;
  // grid-template-columns: repeat(2, 1fr);
  // @include b.min-width('small') {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  // @include b.min-width('medium') {
  grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: repeat(24, 1fr);
  // grid-template-rows: repeat(100, 16vw);
  grid-auto-flow: row dense;

  @include b.min-width('medium') {
    grid-template-columns: repeat(12, 1fr);
  }
}

.search-page__grid-item {
  @include m.theme() {
    transition-duration: 200ms;
    background-color: m.t(base);
    color: m.t(contrast);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &[data-aspect='9/16'] {
      grid-column: span 2 / span 2;
      grid-row: span 2 / span 2;
      .search-page__grid-item-img {
      }
    }
    &[data-aspect='16/9'] {
      grid-column: span 4 / span 4;
      .search-page__grid-item-img {
        // aspect-ratio: 16/9;
      }
    }
    &[data-aspect='1/1'] {
      grid-column: span 2 / span 2;
      // grid-column: span 1;
      .search-page__grid-item-img {
        // aspect-ratio: 1/1;
      }
    }
    .search-page__grid-item-img {
      // aspect-ratio: 1/1;
      // height: 18vw;
      @include m.interact {
      }
      flex: 1;
      position: relative;
    }
  }
}

.search-page__grid-item-info {
  z-index: 999;
  // text-transform: uppercase;
  bottom: 2px;
  left: 2px;
  display: flex;
  gap: 2px;
  padding: 2px 0;
  flex-direction: column;
}

.search-page__grid-item-info-nft-name {
  @include m.theme() {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: m.t(contrast2);
  }
}

.search-page__grid-item-info-artist-name {
  @include m.theme() {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: m.t(contrast);
    @include m.interact;
  }
}
