@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/breakpoints' as b;

.search-page {
	@include m.page;
}

.search-page__logotype-container {
  display: flex;
  justify-content: center;
}

.search-page__grid {
  display: grid;
  width: 100%;
  gap: 1vw;
  // grid-template-columns: repeat(2, 1fr);
  // @include b.min-width('small') {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  // @include b.min-width('medium') {
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row dense;

  @include b.min-width('medium') {
    grid-template-columns: repeat(12, 1fr);
  }
}

.search-page__grid-item {
  @include m.theme() {
    transition-duration: 200ms;
    background-color: m.t(base);
    color: m.t(contrast);
    display: flex;
    flex-direction: column;
    @include m.interact {
      background-color: m.t(contrast);
      color: m.t(base);
    }

    &[data-aspect='9/16'] {
      .search-page__grid-item-img {
        aspect-ratio: 9/16;
      }
    }

    &[data-aspect='16/9'] {
      grid-column: span 3 / span 3;
      .search-page__grid-item-img {
        flex: 1;
        aspect-ratio: 16/9;
      }
    }

    &[data-aspect='1/1'] {
      grid-column: span 2 / span 2;
      // grid-column: span 1;
      .search-page__grid-item-img {
        aspect-ratio: 1/1;
      }
    }

    .search-page__grid-item-img {
      aspect-ratio: 1/1;
      // height: 18vw;
      position: relative;
    }
  }
}

.search-page__grid-item-info {
  display: flex;
  gap: 2px;
  padding: 2px 0;
  flex-direction: column;
}

.search-page__grid-item-info-drop-name {
}
