@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/breakpoints' as b;
.submissions-page {
  @include m.page;
  margin-left: auto;
  margin-right: auto;
}

.submissions-page__logotype-container {
  @include m.standard-width;
}

.submissions-page__header {
  margin-top: clamp(24px, 10vw, 111px);
  margin-bottom: clamp(10px, 3vw, 50px);
  @include m.standard-width;
  @include m.theme() {
    color: m.t(contrast);
  }
  font-weight: 400;
  font-size: clamp(20px, 5vw, 50px);
  line-height: clamp(24px, 1em, 60px);
  text-transform: uppercase;
  text-align: left;
  @include b.min-width('medium') {
    text-align: center;
  }
}

.submissions-page__guidelines-group {
  @include m.mobile-width;
  gap: 14px;
  margin-top: clamp(24px, 5vh, 79px);
  display: flex;
  flex-direction: column;
  @include b.min-width('medium') {
    @include m.desktop-inner-width;
  }
}

.submissions-page__guidelines-header {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 130%;
  text-transform: capitalize;
}

.submissions-page__guidelines-text {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(8px, 2vw, 16px);
  @include m.p-text;
  @include m.theme() {
    color: m.t(contrast2);
  }
}

.submissions-page__aspect-ratios-section {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: clamp(20px, 5vw, 55px);
  justify-content: center;
}

.submissions-page__aspect-ratios-group {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@mixin aspect-ratio-examples {
  @include m.theme() {
    background-color: m.t(contrast2);
  }
}

.submissions-page__aspect-ratios-example {
  display: flex;
  align-items: center;
  flex: 1;
}

.submissions-page__aspect-ratios-1-1 {
  aspect-ratio: 1/1;
  height: clamp(40px, 15vw, 122px);
  @include aspect-ratio-examples;
}

.submissions-page__aspect-ratios-16-9 {
  aspect-ratio: 16/9;
  height: clamp(40px, 15vw, 122px);
  @include aspect-ratio-examples;
}

.submissions-page__aspect-ratios-9-16 {
  aspect-ratio: 9/16;
  width: clamp(40px, 15vw, 122px);
  @include aspect-ratio-examples;
}

.submissions-page__aspect-ratios-label {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 600;
  font-size: clamp(8px, 1vw, 12px);
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submissions-page__design-icons {
  display: flex;
  gap: 27px;
  margin: 50px 0 0;
  align-items: center;
}
.submissions-page__design-icons-svg {
  width: 37px;
  height: 37px;
}
.submissions-page__ {
}
.submissions-page__ {
}
