@use "@/styles/layout/layout" as l;
@use "@/styles/abstracts/colors" as c;

@mixin section__title {
  font-size: 19px;
  font-weight: 600;
  margin-top: 35px;
}

.drop-page {
  flex: 1;
  padding: 20px l.$indent 183px;

  &__hero {
    overflow: hidden;
    position: relative;
    width: 100%;
    aspect-ratio: 1405/622;
    border-radius: 18px;
  }

  &__dropinfo {
    margin-top: 20px;
    background-color: c.$bg-dark;
    width: 100%;
    border-radius: 18px;
    display: flex;
  }
  &__details {
    width: 50%;
    padding: 30px;
    border-right: 1px solid c.$bg-base;

    .artist {
      display: flex;
      height: 60px;
      align-items: center;
      &__pfp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 12px;
        position: relative;
        overflow: hidden;
        aspect-ratio: 1/1;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__name {
        color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }

      &__handle {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        color: rgba(225, 225, 225, 0.6);
      }
    }

    .description {
      &__title {
        margin-top: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 29px;
      }

      &__content {
        margin-top: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* or 154% */
        color: #6f767e;
      }
    }
  }

  &__mechanics {
    width: 50%;
    padding: 30px;

    .header {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 17px;
      line-height: 27px;

      &__divider {
        margin: 0 8px;
        color: grey;
      }

      &__ticket-count {
        background: #792e9c;
        border-radius: 14px;
        padding: 4px 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
      }
    }

    .details {
      margin-top: 27px;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      /* or 162% */
      color: #6f767e;
    }

    .extra {
      display: flex;
      margin-top: 2em;
      &__link {
        margin-right: 20px;
        padding: 15px 20px;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        background: #201e21;
        border-radius: 23px;
        cursor: pointer;
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
      }
    }
  }

  .games__title {
    @include section__title();
  }
  .games__grid {
    margin-top: 23px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
