@use '@/styles/abstracts/colors' as c;
@mixin img-container {
  position: relative;
  overflow: hidden;
}

@mixin circle {
  border-radius: 100%;
  aspect-ratio: 1/1;
}

@mixin interact {
  &[disabled] {
    background: c.$text-gray-2;
  }
  &:not([disabled]):hover {
    cursor: pointer;
  }
}

@mixin hover {
  &:not([disabled]):hover {
    filter: brightness(0.9);
  }
}

@mixin btn {
  @include interact;
  @include hover;
}

@mixin pill {
  border-radius: 999px;
}
