@use '@/styles/abstracts/colors' as c;
@use '@/styles/abstracts/mixins' as m;

.btn-place-bid,
.btn-get-tickets {
  @include m.btn;
  @include m.pill;
  background: c.$purple-button;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  // padding: 15px 20px;
  padding: 0 20px;
  gap: 8px;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: c.$white;
}
