@use "@/styles/layout/layout" as l;

.more-in-drop {
  margin-top: 100px;
  width: 100%;
}

.more-in-drop__header {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height, or 121% */
  /* Text.White */
  color: #ffffff;
}

.more-in-drop__grid {
	margin-top: 23px;
  width: 100%;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
