.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.01s;
}
.custom-zoom [data-rmiz-modal-overlay='visible'] {
    background: black;
    opacity: 0.8;
    // backdrop-filter: blur(8px);
}
